# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/carte?schema=public"

# Auth.js
AUTH_SECRET="change-me-generate-with-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
